@{
    Layout=null;

}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover, shrink-to-fit=no">
  <meta name="description" content="Suha - Multipurpose Ecommerce Mobile HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#100DD1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- The above tags *must* come first in the head, any other head content must come *after* these tags -->
  <!-- Title -->
  <title> امید اپ</title>

  <!-- Favicon -->
  <link rel="icon" href="img/icons/icon-72x72.png">
  <!-- Apple Touch Icon -->
  <link rel="apple-touch-icon" href="img/icons/icon-96x96.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/icon-152x152.png">
  <link rel="apple-touch-icon" sizes="167x167" href="/img/icons/icon-167x167.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/icon-180x180.png">
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/all.min.css">
  <link rel="stylesheet" href="/css/brands.min.css">
  <link rel="stylesheet" href="/css/solid.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/nice-select.css">


  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <!-- Web App Manifest -->
  @* <link rel="manifest" href="/manifest.json"> *@
</head>

<body>
  <!-- Preloader-->
 
  <!-- Login Wrapper Area-->
  <div class="login-wrapper d-flex align-items-center justify-content-center text-center" >
    <!-- Background Shape-->
    <div class="background-shape"></div>
    <div class="container" >
      <div class="row justify-content-center" >
        <div class="col-10 col-lg-8"><img class="big-logo" src="img/core-img/logo-white.png" alt="">
          <!-- Register Form-->
          <div class=" mt-5" style="border:1px solid black;padding: 5px;border:5px;" id="m" >
            <form action="/phone/check" method="post" id="Myform">
              <div class="form-group text-start mb-4"><span> <i class="fa-solid fa-user"></i>   شماره موبایل خود را وارد کنید </span> <br>
               
                <input  required style="margin-top:20px ;"  autocomplete="off"  class="form-control text-black" type="number" style="" placeholder="شماره موبایل خود را وارد کنید" id="phone" name="phone">
              </div>
              @* <div class="form-group text-start mb-4"><span>کلمه عبور</span>
                <label for="password"><i class="fa-solid fa-key"></i></label>
                <input class="form-control" id="password" type="password" placeholder="کلمه عبور">
              </div> *@
              <a onclick="show()" class="btn btn-warning btn-lg w-100"   >ارسال کد فعالسازی</a>
            </form>
          </div>


          <div class="text-center" id="load" style="display: none;">

                <img src="/img/core-img/loading.gif" alt="">
                <b class="text-center mt-3">درحال بارگذاری...</b>

            </div>
          
         
        </div>
           
      </div>
    </div>
    
  </div>

  
<script src="/js/jquery.min.js"></script>
  <script>
                   function show() {
                              var phone = document.getElementById("phone").value;
                            if (phone != "") {
                                document.getElementById("m").style.display = "none";
                              document.getElementById("load").style.display = "block";
                              document.getElementById('Myform').submit();
                     
                           } }
                      
                        
                        
                     
 
      
                          

                      // code by divice id in web
                       @* var url = new URL(window.location.href);
                        const product = "ok";
                      
                    
                        var machineId = localStorage.getItem('MachineId');
          
                        if (!machineId) {
                                    machineId = crypto.randomUUID();
                                    localStorage.setItem('MachineId', machineId);
                                    
                                }
                       
                       

                        if (product != "disable") {
                   
                             
                              $.ajax({
                                    url: '/phone/checkdivace?deviceid=' + machineId,
                                    
                                    type: 'POST',
                                }).done(function (res) {
                                      if (res === 'success') {
                                             window.location.href="/home/home"
                                      }
                                      else if (res === 'faild') {
                                          document.getElementById("m").style.display = "block";
                                           document.getElementById("load").style.display = "none"; 
                                      }
                                  });
                        }else
                        {


                        

                            $.ajax({
                                      type: 'POST',
                                      url: '/phone/deactivedevice?deviceid=' + machineId,
                                      
                              
                                          
                                });

                                       document.getElementById("m").style.display = "block";
                                           document.getElementById("load").style.display = "none"; 
                                                
                              



                        } *@

                              
                           

      
  </script>

  

  
</body>

</html>