    <div class="page-content-wrapper py-3">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <div class="about-content-wrap"><img class="mb-3" src="/img/bg-img/12.png" alt="">
              <h4>امید اپ</h4>
              <p>توضیحات درباره کسب و کار</p>
              <p>این دستگاه به زیبایی در تمام دستگاه های دارای تلفن های هوشمند ، تبلت ، لپ تاپ و دسک تاپ مشاهده می کند.</p>
              <ul class="mb-3 ps-3">
                <li class="ps-2"><i class="fa-solid fa-check me-1"></i>الگوی تجارت الکترونیکی متنوع</li>
                <li class="ps-2"><i class="fa-solid fa-check me-1"></i>به زیبایی با ویژگی های مدرن طراحی شده است</li>
                <li class="ps-2"><i class="fa-solid fa-check me-1"></i>کدگذاری شده با جدیدترین فناوری</li>
              </ul>
              <p>سوابق کسب و کار</p>
              
              <div class="contact-btn-wrap text-center">
                <p class="mb-2">برای اطلاعات بیشتر   دکمه تماس با ما را انتخاب کنید</p><a class="btn btn-primary w-100" href="#"><i class="lni lni-life-ring mr-2"></i>ارسال یک پرس و جو</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>